{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}
	Tableau de bord
{% endblock %}
{% block main %}

    <div class="container">
        <h1 class="text-info text-center mb-3 bg-dark rounded">Statistiques</h1>

        <hr>

{#*** Twig calculations ***#}
    {% set sumTotal = 0 %}
    {% set sumVal = 0 %}
    {% set pro = 0 %}
    {% set sumPro = 0 %}
    {% set sumClient = 0 %}
    {% set todate = "now"|date() %}

    {% set sumQuant = 0 %}

    {% set sumProd = 0 %}

    {% set sumShip = 0 %}

    {% for cart in carts %}
        {% set sumVal = sumVal + cart.validated %}
        {% set sumShip = sumShip + cart.shipped %}
            {% if cart.validated == true %}
                {% set sumTotal = sumTotal + cart.total %}
            {% endif %}
            {% if cart.user.pro == true %}
                {% set pro = pro + 1 %}
                    {% if cart.validated == true %}
                        {% set sumPro = sumPro + cart.total %}
                    {% endif %}    
            {% else %}
                {% if cart.validated == true %}
                    {% set sumClient = sumClient + cart.total %}
                {% endif %}
            {% endif %}
    {% endfor %}

    {% for product in products %}
        {% set sumQuant = sumQuant + product.quantity %}
    {% endfor %}

    {% for detail in orderDetails %}
        {% set sumProd = sumProd + detail.quantity %}
    {% endfor %}

    {# Highlighted figures #}
    {% include '/dashboard/highlighted_figures.html.twig' %}

    {# Global Figures #}
    {% include '/dashboard/global_figures.html.twig' %}

    {# Company evolution #}
    {% include '/dashboard/evolution.html.twig' %}

	{% block javascripts %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% include '/dashboard/column_chart.html.twig' %} 
	{% endblock %}
{% endblock %}
