<h3>Bonjour,</h3>

<p>
    Merci de valider votre adresse mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    L'équipe de Muse
</p>
<img style="width: 200px; border-radius: 10px;" src="http://localhost:8000/img/Muse_rect_no.jpg">