{% extends 'base.html.twig' %}

{% block title %}Edit Cart{% endblock %}

{% block body %}
<div class="container">
		<div class="text-center mb-3">
    <h1>Modifier le panier</h1>
</div>
    {{ include('admin_cart/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <button class="btn btn-primary mb-3 ml-3"><a class="text-decoration-none text-white" href="{{ path('app_admin_cart_index') }}">Retour à la liste</a></button>

    {{ include('admin_cart/_delete_form.html.twig') }}
    </div>
{% endblock %}
