{% extends 'base.html.twig' %}

{% block title %}Mail de réinitialisation de mot de passe envoyé{% endblock %}

{% block body %}
<div class="container">
<h3 class="text-warning text-center">Mail de réinitialisation de mot de passe envoyé</h3>

    <p class="ml-3 mt-5 mb-5 text-center">
    Si un compte correspondant à votre adresse mail existe, alors un email contenant un lien pour réinitialiser votre mot de passe a été envoyé.
    Ce lien expirera dans <b>2 heures</b>.</p>
    <p class="ml-3 mt-5 mb-5 text-center">Vous pourrez retenter la réinitialisation dans <b>1 heure</b>.</p>
    <p class="ml-3 mb-5 text-center">Si vous n'avez pas reçu l'email, merci de vérifier votre dossier de spams ou <button class="btn btn-info border border-light"><a class="text-decoration-none text-light" href="{{ path('app_forgot_password_request') }}">Essayer de nouveau</a></button>.</p>
    </div>
    <div class="text-center">
    <p>L'équipe de Muse</p>
    <img class="img-thumbnail" style="width: 200px; border-radius: 10px;" src="/img/Muse_rect_no.jpg">
    </div>
{% endblock %}
