<h1>Bonjour
</h1>

<p>Afin de réinitialiser votre mot de passe, merci de cliquer sur le lien suivant : </p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans <b>2 heures</b>.</p>

<p>Vous pourrez retenter la réinitialisation dans <b>1 heure</b>.</p>

<br><p>L'Equipe de Muse</p>
<img style="width: 200px; border-radius: 10px;" src="http://localhost:8000/img/Muse_rect_no.jpg">
