{% extends 'base.html.twig' %}

{% block title %}New Address
{% endblock %}

{% block body %}

	<h1 class="text-center mt-3 mb-3">Nouvelle adresse</h1>

	{{ include('client_address/_form.html.twig', {'button_label': 'Enregister'}) }}
	<div class="container">
		<button class="btn btn-warning mb-3 ml-3">
			<a class="text-decoration-none text-dark" href="{{ path('app_client_address_index') }}">Retour à la liste</a>
		</button>
	</div>
{% endblock %}
