{% extends 'base.html.twig' %}

{% block title %}Durabilité
{% endblock %}

{% block body %}
	<style>
		body {
			background: url('/img/music_sus3.jpeg') no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
	</style>

	<div class="container">
		<h1 class="text-center mt-3 text-success">Durabilité</h1>

		<p class="text-center text-light">
			<i>Plus vite, plus loin, ensemble...</i>
		</p>


		<h3 class="text-success">Zéro émission nette d’ici 2040</h3>
		<p>Afin de devenir l’entreprise la plus orientée client au monde, Muse s’engage à construire une entreprise durable pour ses collaborateurs, 
			    ses clients et les territoires dans lesquels l’entreprise est présente. 
			    Nous nous dirigeons vers un avenir zéro émission nette de CO2 dans lequel toutes les personnes qui contribuent à notre chaîne de valeur sont traitées avec dignité et respect.</p>

		<div class="row d-flex justify-content-center">
			<div class="col-md-6 d-flex align-items-center">
				<img src="/img/sustainability.jpeg" style="width: 35rem;" class="img-fluid mb-3">
			</div>
		</div>

		<div class="row d-flex justify-content-center">
			<div class="col-md-3 border border-secondary bg-dark darker mt-1 mb-1 ml-1 mr-1">
				<h3 class="text-success">Zéro émission nette</h3>
				<p>Atteindre zéro émission nette pour l’ensemble de nos activités d’ici 2040</p>
			</div>
			<div class="col-md-3 border border-secondary bg-dark darker mt-1 mb-1 ml-1 mr-1">
				<h3 class="text-success">Énergies renouvelables</h3>
				<p>Utiliser 100 % d’énergies renouvelables dans le cadre de nos activités d’ici 2025</p>
			</div>
			<div class="col-md-3 border border-secondary bg-dark darker mt-1 mb-1 ml-1 mr-1">
				<h3 class="text-success">Programme « Shipment Zero »</h3>
				<p>Atteindre zéro émission nette pour 50 % de nos expéditions d’ici 2030</p>
			</div>
			<div class="col-md-3 border border-secondary bg-dark darker mt-1 mb-1 ml-1 mr-1">
				<h3 class="text-success">Véhicules de livraison électriques</h3>
				<p>Déployer 10 000 véhicules de livraison électriques personnalisés d’ici 2030</p>
			</div>
			<div class="col-md-3 border border-secondary bg-dark darker mt-1 mb-1 ml-1 mr-1">
				<h3 class="text-success">Climate Pledge Fund</h3>
				<p>Investir 2 millions d'euros en soutien au développement de technologies et de services de décarbonation</p>
			</div>
			<div class="col-md-3 border border-secondary bg-dark darker mt-1 mb-1 ml-1 mr-1">
				<h3 class="text-success">Solutions naturelles</h3>
				<p>Investir 5 millions d'euros dans des projets de reforestation et des solutions d’atténuation du changement climatique</p>
			</div>
		</div>

		<h3 class="text-center mt-5 text-success">Une conscience globale</h3>
		<p style="backdrop-filter: blur(5px);">C’est le début d’une décennie déterminante et décisive. 
			    La pandémie de COVID-19 a fait des millions de victimes et a eu un impact considérable sur nos familles, nos clients, 
			    nos employés et notre chaîne de valeur mondiale. 
			    Mais elle a également généré un moment de pause et donné l’occasion de reconsidérer la résilience de l’humanité et de notre planète, 
			    en montrant clairement à quel point nous sommes tous interconnectés et interdépendants. En gardant à l’esprit les enseignements de l’année passée, 
			    nous pourrons faire face avec succès aux mutations sociétales, 
			    éviter les pires impacts du changement climatique et atteindre les objectifs de développement durable.</p>

	</div>
{% endblock %}
