{% extends 'base.html.twig' %}

{% block title %}Nouveau bon{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mb-5">Nouveau bon</h1>

    {{ include('coupon/_form.html.twig') }}

    <button class="btn btn-warning border border-light mb-1"><a class="text-decoration-none text-light" href="{{ path('app_coupon_index') }}">Retour à la liste</a></button>
</div>
{% endblock %}
