{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<style>
body {
    background: url('/img/2.jpg') no-repeat;
    background-size: 80rem 90rem;
    background-repeat: repeat;
}
</style>

<div class="container">
<h1 class="text-center mt-3 mb-3">Formulaire de contact</h1>

<br>{{ include('contact/_form.html.twig') }}
</div>
{% endblock %}
