{% extends 'base.html.twig' %}

{% block title %}Hello AboutUsController!
{% endblock %}

{% block body %}
	<div class="container">

		<h1 class="mt-3 mb-5 text-center">A propos de nous...</h1>

		<img src="/img/Orchestra.jpg" class="card-img-top img-thumbnail border border-dark">

		<h1 class="mt-5 mb-4 text-center">Bienvenue à Muse,</h1>
        <h5 class="bg bg-dark darker border border-secondary text-center">Votre source numéro un pour tout Instrument de musique.<br> 
        Nous nous engageons à vous offrir le meilleur de la musique, avec une attention particulière sur la qualité, le choix et le service client.<br>
		Fondé en 2022 par K6, Muse a parcouru un long chemin depuis ses débuts dans un local de l'AFPA.<br>
        Quand K6 a commencé, sa passion pour aider ses semblables à trouver les meilleurs instruments au meilleur prix l’a conduit à se focaliser sur ses objectifs, 
        et lui a donné l’impulsion pour transformer le travail acharné et l’inspiration en une boutique en ligne en plein essor.<br> 
        Nous servons désormais des clients partout en France, 
        et sommes ravis de faire partie de la eco-friendly fair trade aile de la incredible fashion industry.</h5>
	</div>
{% endblock %}
