{% extends 'base.html.twig' %}

{% block title %}Plan du site
{% endblock %}

{% block body %}
	<style>
		body {
			background: url('/img/BG12.jpg') no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
	</style>

<div class="container">
    <h1 class="text-center text-primary mt-3 mb-5">Plan du site</h1>

    <h3 class="text-primary">BDD</h3>
    <p>Option 1:</p>
        <ul>
            <li>Injecter des données pour les produits et catégories (via Hautelook/Alice Bundle): <p class="text-warning">"php bin/console h:f:l"</p></li>
        </ul>
    <p><b>Pour cette option, ne pas oublier de créer l'admin directement dans la BDD en lui accordant les rôles : <p class="text-warning">["ROLE_ADMIN","ROLE_SALES","ROLE_SHIP","ROLE_PRO","ROLE_CLIENT","ROLE_USER"]</b></p></p>

    <p>Option 2:</p>
        <ul>     
            <li>Injecter des données pour tester brièvement le site (Data fixtures): <p class="text-warning">Pour les users :"php bin/console d:f:l --group=Users"</p>
            <p class="text-warning">Pour le tout :"php bin/console d:f:l --group=All"</p>
            </li>
        </ul>
    
    <p>Option 3:</p>
        <ul>     
            <li>Injecter les données finales via le fichier CSV : <p class="text-warning">Dans le dossier "/public/SQL" </p></li>
        </ul>
    <p></p>
    

    <h3 class="text-primary mt-5">Les Rôles</h3>
    <ul>
        <li class="mt-1 mb-2"><p class="text-warning m-0">["ROLE_ADMIN","ROLE_SALES"] :</p> ont tous les droits (Back Office, Dashboard, CRUDs, ...) outre modifier directement le mdp du user. Ils peuvent accorder une remise additionelle sur les paniers via "Infos Paniers/Commandes", ou créer des bons de réduction.</li>
        <li class="mt-1 mb-2"><p class="text-warning m-0">["ROLE_SHIP"] :</p> ont les mêmes droits que les ["ROLE_PRO"], mais peuvent accéder aux commandes validées et aux informations du user dans le Back Office.</li>
        <li class="mt-1 mb-2"><p class="text-warning m-0">["ROLE_PRO"] :</p> ont les mêmes droits que les ["ROLE_CLIENT"] mais ont une TVA de 10%.</li>
        <li class="mt-1 mb-2"><p class="text-warning m-0">["ROLE_CLIENT"] :</p> ont les mêmes droits que les ["ROLE_USER"] mais peuvent accéder au panier, et peuvent vérifier leurs informations personnelles et leurs commandes.</li>
        <li class="mt-1 mb-2"><p class="text-warning m-0">["ROLE_USER"] :</p> peuvent naviguer sur le site (accueil, catégories, produits, pied de page).</li>
        </ul>
</div>
{% endblock %}
