{% extends 'base.html.twig' %}

{% block title %}Retours et remplacements
{% endblock %}

{% block body %}
	<style>
		body {
			background: url('/img/2.jpg') no-repeat;
			background-size: 80rem 90rem;
			background-repeat: repeat;
		}
	</style>

	<div class="container">
		<h1 class="text-center text-primary mt-3">Retours et remplacements</h1>

		<p class="text-center text-light">
			<i>A votre service</i>
		</p>


		<h3 class="text-primary">Droit de rétractation</h3>
		<p>En cas de problème avec votre commande téléphonez nous au numéro +33-987654321.
Vous disposez du droit de rétractation de quatorze (14) jours à compter de la réception de votre commande prévu par l’article 6 des présentes conditions générales de vente pour nous retourner les articles sans avoir à justifier de motif. </p>
		<p>Dans le cadre de l’article L 121-21-8 5° du Code de la consommation, 
        ce droit de rétractation ne peut s’exercer si les fournitures de biens ont été descellés par le consommateur après la livraison et ne peuvent être renvoyés pour des raisons d’hygiène ou de protection de la santé.</p>
		<p>En cas de livraison d’un article non conforme à votre commande ou endommagé pendant le transport, 
        merci de bien vouloir nous contacter en remplissant le formulaire dans la rubrique 'Contact', dès réception du colis.</p>
		<p>En cas de  réception d’un produit endommagé ou non-conforme une photo vous sera demandée, 
        nous nous engageons à vous retourner un produit de remplacement ou à vous rembourser l’intégralité du prix de l’article réglé lors de la commande. 
        L’échange ou le remboursement s’effectuera dès réception du produit endommagé, dans son emballage d’origine.</p>
<p>Si nous acceptons de remplacer un produit endommagé ou non-conforme à votre commande. 
Vous devrez nous retourner ce produit dans les 15 jours suivant la date à laquelle nous vous avons confirmé procéder à son remplacement.</p>
		<p>En cas de non-respect de votre obligation de retour du produit endommagé ou non-conforme dans ledit délai de 15 jours, 
        nous nous réservons le droit de débiter sur la carte bancaire utilisée pour votre commande, 
        un montant équivalent au prix (auquel la TVA est ajoutée) du produit endommagé ou non-conforme que vous ne nous avez pas retourné.</p>
		<p>Dans ce cas, une seconde vente sous condition suspensive sera considérée comme ayant été réalisée par nous. 
        Cette condition suspensive sera satisfaite si à l’expiration du délai de 15 jours suivant la date à laquelle nous vous avons adressé un produit de remplacement, 
        le produit endommagé ou non-conforme ne nous est pas retourné.</p>

<h3 class="text-primary">Frais de retour</h3>
<p><b>Pour nous renvoyer des produits, voici nos coordonnées  :</b></p>
<p>"Muse"<br>
    123 Bis Avenue du Voyage<br>
    80000 Amiens<br>
    n° de téléphone : +33-987654321<br>
    adresse mail : info@Muse.com<br></p>
<p>Les coûts du renvoi seront à votre charge et le prix de l’envoi originel de notre part sont non-remboursable. 
Donc en cas de remboursement de la commande, nous déduirons ces frais ..</p>
<p>Dépendant de l’endroit de livraison et du mode de transport choisi , le temps de livraison pourra varier si nous effectuons un échange. </p>
<p>Si vous nous renvoyez une commande coûteuse nous vous conseillons de prendre une assurance car nous ne pouvons pas vous garantir la réception de votre retour chez nous.</p>

<h3 class="text-primary">Articles en promotion</h3>
<p>Seuls les articles qui ne sont pas en promotion peuvent être retournés . Les articles en promotion ne peuvent pas être remboursés.</p>

<h3 class="text-primary">Échanges</h3>
<p>Nous n’échangeons que les articles endommagés. Si vous avez besoin d’utiliser cette procédure d’échange, appelez le numéro vert et envoyez nous une demande par email à info@Muse.com. </p>
</div>
{% endblock %}
