{% extends 'base.html.twig' %}

{% block title %}Droit de rétractation
{% endblock %}

{% block body %}
	<style>
		body {
			background: url('/img/2.jpg') no-repeat;
			background-size: 80rem 90rem;
			background-repeat: repeat;
		}
	</style>

	<div class="container">
		<h1 class="text-center text-primary mt-3">Droit de rétractation</h1>

		<p class="text-center text-light">
			<i>A votre écoute</i>
		</p>


		<h3 class="text-primary">Droit de rétractation</h3>
		<p>Dans la mesure où vous êtes consommateur, vous bénéficiez d'un droit de rétractation de 14 jours.</p>
		<p>
			<b>Nous attirons votre attention sur le fait que le droit de rétractation ne s'applique pas en cas de:</b>
		</p>
		<ul>
			<li>livraison de marchandises non préfabriquées et confectionnées selon les spécifications du consommateur ou explicitement de sorte à répondre aux besoins personnels du consommateur,</li>
			<li>livraison de marchandises scellées ne pouvant, pour des raisons d'hygiène ou de protection de la santé, être retournées dès lors qu'elles ont été descellées après livraison,</li>
			<li>livraison d'enregistrements audio ou vidéo ou de logiciels sous emballage scellé dès lors que l'emballage a été descellé après livraison.</li>
			<li>livraison de journaux, périodiques ou illustrés, à l'exception des contrats d'abonnement.</li>
		</ul>
		<h3 class="mt-5 text-primary">Information sur les conditions de rétractation</h3>

		<h5>
			<b>Droit de rétractation</b>
		</h5>

		<p>Vous avez le droit de vous rétracter de ce contrat dans un délai de quatorze jours sans indication de motifs. 
			Le délai de rétractation est de quatorze jours à compter du jour où vous ou un tiers nommé par vous et ne constituant pas le transporteur, 
			avez/a réceptionné la dernière marchandise.</p>
		<p>Pour exercer ce droit de rétractation, vous devez nous 
			(L'entreprise individuelle "Muse", Située : 123 Bis Avenue du Voyage, 80000 Amiens, immatriculée au RCS d'Amiens 89870953601032, n° de téléphone : +33-987654321, adresse mail : info@Muse.com) informer, 
			au moyen d'une notification sans équivoque (p. ex. courrier postal, fax ou e-mail), de votre décision de vous rétracter de ce contrat. 
			Vous pouvez pour ce faire utiliser le formulaire de rétractation standard joint qui cependant n'a pas caractère obligatoire.</p>
		<p>Le délai de rétractation est respecté dès lors que vous envoyez votre notification de rétractation avant expiration du délai requis.</p>

		<h5>
			<b>Conséquences de la rétractation</b>
		</h5>

		<p>Si vous vous rétractez de ce contrat, nous sommes tenus de vous rembourser sans délai, 
			au plus tard dans les quatorze jours suivant le jour où nous avons reçu la notification de révocation de ce contrat, tous les paiements, 
			y compris les frais de port 
			(à l'exception des frais supplémentaires résultant du fait que vous avez souhaité un mode de livraison autre que la livraison standard la moins chère que nous proposons) 
			que nous avons reçus de votre part. Pour ce remboursement, nous utilisons le même mode de paiement que celui que vous avez utilisé lors de la transaction d'origine, 
			sauf accord exprès contraire ; des frais ne vous seront en aucun cas facturés dans le cadre du remboursement. 
			Nous pouvons refuser le remboursement jusqu'à ce que nous soyons rentrés en possession de la marchandise ou, selon la date la plus proche, 
			jusqu'à ce que vous fournissiez la preuve que la marchandise a été retournée.</p>

		<p>Dans tous les cas, vous êtes tenu de nous retourner ou de nous remettre la marchandise au plus tard dans les quatorze jours suivant le jour où vous nous avez signalé votre rétractation du contrat. 
			Ce délai est respecté dès lors que vous expédiez la marchandise avant expiration du délai de quatorze jours. 
			Nous prenons en charge les frais de renvoi de la marchandise.</p>

		<p>Votre responsabilité n'est engagée qu'à l'égard d'une éventuelle dépréciation de la marchandise résultant de manipulations autres que celles nécessaires pour s'assurer de la nature et du bon fonctionnement de la marchandise.</p>

		<h5>
			<b>Exclusion du droit de rétractation</b>
		</h5>

		<p>Le droit de rétractation ne s'applique pas en cas de :</p>
		<ul>
			<li>livraison de marchandises non préfabriquées et confectionnées selon les spécifications du consommateur ou explicitement de sorte à répondre aux besoins personnels du consommateur,</li>
			<li>livraison de marchandises scellées ne pouvant, pour des raisons d'hygiène ou de protection de la santé, être retournées dès lors qu'elles ont été descellées après livraison,</li>
			<li>livraison d'enregistrements audio ou vidéo ou de logiciels sous emballage scellé dès lors que l'emballage a été descellé après livraison,</li>
			<li>livraison de journaux, périodiques ou illustrés, à l'exception des contrats d'abonnement.</li>
		</ul>

	</div>
{% endblock %}
