/* BACKGROUND PICTURE */

body {
    background: url('/img/BGHome22.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* CONTAINERS  */

.container {
    -webkit-animation: fadeInDown 200ms ease-in-out;
    animation: fadeInDown 200ms ease-in-out;
}

.container-fluid {
    -webkit-animation: fadeInDown 200ms ease-in-out;
    animation: fadeInDown 200ms ease-in-out;
}


/* BUTTONS */
.btn {
    text-shadow: 0 1px 0 rgb(0 0 0 / 5%);
}

.btn-primary {
    background-image: linear-gradient(#2b5b89, #033c73 60%, #03386c);
}

.btn-info {
    background-image: linear-gradient(#2b5b89, #033c73 60%, #03386c);
}

.text-warning {
    color: #dd5600 !important;
}

.btn-outline-warning {
    color: #dd5600;
    border-color: #dd5600;
}

.btn-outline-warning:hover {
    color: #f3f0ed;
    background-color: #dd5600;
    border-color: #dd5600;
}

.btn-warning {
    color: #f3f0ed;
    border-color: #dd5600;
}

.bg-warning {
    background-color: #dd5600 !important;
}



/* FONT COLORS */

.text-primary {
    color: #3f7db8 !important;
}

.text-info {
    color: #2b5b89 !important;
}


/* FONTS */

#audioFont {
    font-family: "Audiowide", sans-serif;
}

.orbitron {
    font-family: Orbitron;
}

.digital {
    font-family: 'Segment7Standard';
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.surround {
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
}

h1 {
    font-family: Orbitron;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 26.4px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

h3 {
    font-family: Orbitron;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 15.4px;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
}

h2 {
    font-family: Orbitron;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    color: rgb(59, 175, 243);
    line-height: 20px;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.5s;
}

h2:hover {
    color: #fff;
    text-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
    -webkit-text-stroke: 0.5px rgb(51, 134, 139);
}

.hometitle2 {
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow: 0 0 5px rgb(58, 218, 191);
    color: rgb(118, 183, 243);
}


/* BACKGROUNDS */

.darker {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(50, 50, 61, 1) 0%, rgba(0, 0, 0, 1) 100%);
}


/* ANIMATIONS */

.slideIn {
    animation-duration: 1.5s;
    animation-name: slidein;
}

@keyframes slideIn {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.cartoon {
    transform: translatey(0px);
    animation: cartoon 6s ease-in-out infinite;
    /* animation-iteration-count: 2; */
}

@keyframes cartoon {
    0% {
        transform: translatey(400px);
        transform: translatex(-1000px);
    }

    5% {
        transform: translatey(0px);
        width: 15%;
    }

    6% {
        transform: translatey(0px);
        width: 23%;
    }

    7% {
        transform: translatex(-5px);
    }

    8% {
        transform: translatex(+5px);
    }

    9% {
        transform: translatex(-5px);
    }

    10% {
        transform: translatex(+5px);
    }

    11% {
        transform: translatex(-5px);
    }

    12% {
        transform: translatex(+5px);
    }

    13% {
        transform: translatex(-5px);
    }

    90% {
        transform: translatex(0px);
    }

    94% {
        transform: translatex(0px);
        width: 23%;
    }

    96% {
        transform: translatex(-30px);
        width: 40%;
    }

    96% {
        transform: translatex(-30px);
        width: 40%;
    }

    97% {
        transform: translatex(0px);
        width: 15%;
    }

    100% {
        transform: translatex(+800px);
        width: 15%;
    }

}

/* NAVBAR */

.navbar {
    backdrop-filter: blur(5px);
}


/* NAVBAR LOGO */

.brand {
    border: solid 2px #1f4d50;
    border-radius: 10px 30px;
    width: 220px;
    height: auto;
    transition: 0.3s;
}

.brand:hover {
    box-shadow: 0 0 5px #03e9f4,
        0 0 10px #03e9f4,
        0 0 20px #03e9f4,
        0 0 30px #03e9f4;
    -webkit-text-stroke: 0.5px rgb(51, 134, 139);
}



/* BREADCRUMBS */

.breadcrumb {
    padding: 0px 15px !important;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(39, 39, 39, 0.818) 49%, rgba(0, 0, 1, 0.4514180672268907) 100%);
}

.breadcrumb:hover {
    background: rgb(22, 25, 46);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(24, 88, 99, 0.818) 49%, rgba(0, 0, 1, 0.4514180672268907) 100%);
}

.breadcrumb-item+.breadcrumb-item::before {
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow: 0 0 6px rgb(0, 233, 250);
    color: rgb(51, 85, 85);
    content: '>';
    font-style: bold;
    filter: brightness(1.25);
    filter: saturate(300%);
}

.ddmenu {
    background-color: rgb(0, 0, 0);
}

/* CATEGORIES */

#q {
    animation-duration: 0.5s;
    animation-name: fadeInDown;
}

#category {
    animation-duration: 0.5s;
    animation-name: catslidein;
}

#supplier {
    animation-duration: 0.5s;
    animation-name: catslidein;
}

#min {
    animation-duration: 0.5s;
    animation-name: fadeInUp;
}

#max {
    animation-duration: 0.5s;
    animation-name: fadeInUp;
}

@keyframes catslidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/* SEARCH FILTER */

.filter {
    display: block;
    position: sticky;
    top: 115px;
    scale: 0, 8;
}

.filterCat {
    max-height: 100px;
    max-width: 200px;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* PRODUCTS GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
@media (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
@media (max-width: 480px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }

/* CAROUSEL */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    transition: 0.2s;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    text-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
    -webkit-text-stroke: 0.5px rgb(51, 134, 139);
}

.carousel-control-next-icon:after {
    content: '}';
    font-size: 55px;
    color: rgb(15, 186, 209);
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
}

.carousel-control-prev-icon:after {
    content: '{';
    font-size: 55px;
    color: rgb(15, 186, 209);
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
}

.carousel .carousel-indicators li {
    background-color: rgb(48, 121, 131);
}

.carousel .carousel-indicators li.active {
    background-color: rgb(15, 186, 209);
}


/* SUBFORMS */

#proForm {
    display: none;
    transition: 2s;
    -webkit-animation: fadeInDown 500ms ease-in-out;
    animation: fadeInDown 500ms ease-in-out;
}

#newAddressForm {
    display: none;
    transition: 2s;
    -webkit-animation: fadeInDown 500ms ease-in-out;
    animation: fadeInDown 500ms ease-in-out;
}

#payCardForm {
    display: none;
    transition: 2s;
    -webkit-animation: fadeInDown 500ms ease-in-out;
    animation: fadeInDown 500ms ease-in-out;
}

#couponInput {
    display: none;
    transition: 2s;
    -webkit-animation: fadeInuP 500ms ease-in-out;
    animation: fadeInUp 500ms ease-in-out;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}


/* ZOOM */

.zoom {
    transition: transform .2s;
    margin: 0 auto;
    position: relative;
}

.zoom:hover {
    transform: scale(1.5);
    z-index: 100
}


/* CART */

.productHl {
    font-family: Orbitron;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 20px;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.5s;
}

.productHl:hover {
    color: #fff;
    text-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
    -webkit-text-stroke: 0.5px rgb(51, 134, 139);
}

.Hl {
    cursor: pointer;
    transition: 0.5s;
}

.Hl:hover {
    color: #fff;
    text-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
    -webkit-text-stroke: 0.5px rgb(51, 134, 139);
}


/* ORDER */

#couponInput {
    display: none;
}

#newAddressForm1 {
    display: none;
}

#payCardForm {
    display: none;
}


/* FOOTER */

.col_white_amrc {
    color: #FFF;
}

footer {
    width: 100%;
    background: url('/img/Muse_trans.png') no-repeat, linear-gradient(90deg, rgb(8, 14, 19) 0%, rgb(13, 32, 41) 49%, rgb(7, 15, 19)100%);
    background-position: center;
    background-size: 60%;
    min-height: 250px;
    padding: 10px 0px 25px 0px;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: #CCC;
}

.footer_ul_amrc li a:hover {
    color: #fff;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin: 0px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}